# MongoDB bilgileri
MONGODB_USER=your_mongo_user
MONGODB_PASSWORD=your_mongo_password
MONGODB_URL=cluster0.kbj9pkx.mongodb.net
MONGODB_DB=your_database_name
MONGODB_CLUSTER_NAME=your_cluster_name

# Sunucu portu
PORT=3000

# JWT için gizli anahtarlar
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
